.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .formWrapper {
    padding: .5rem 2rem 0rem;
    border-radius: 10px;
    width: 400px;
    background: #ffffff;
  }