@import "@/components/app/vars";

.projects {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  cursor: pointer;
}

.space {
  gap: 30px;
  align-items: start;
}

.description {
  word-wrap: break-word;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}