@import "@/components/app/vars";

.main {
  display: flex;
  width: 100vw;
  height: 100%;
  padding: 1.5rem 5rem 5rem;
  gap: 20px;
  flex-direction: column;
}

.board {
  width: 100%;
}

.content {
  word-wrap: break-word;
}

.low {
  color: #17c400 !important;
}

.medium {
  color: #c98300 !important;
}

.high {
  color: #ff3c3c !important;
}

.card {
  background: #fff;
}