@import "@/components/app/vars";
@import "@/components/app/index";

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: $sidebar-width;
  bottom: 10px;
  left: 0;
  top: $header-height + 20px;
  border-radius: 0 10px 10px 0;
  background: #fff;

  @include for-tablet-down() {

  }
}

.navlink {
  height: 30px;
  width: 30px;
  position: relative;

  &::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 2px;
    background: $accent-color;
    border-radius: 50px;
    left: -7px;
    opacity: 0;
  }

  &:hover {
    transform: scale(1.07);
    transition: transform .1s ease-out;
    &::before {
      transform: scale(0.93);
      opacity: 1;
      transition: opacity .3s ease-out;
    }
  }
}

.active {
  position: relative;

  &::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 2px;
    background: $accent-color;
    border-radius: 50px;
    left: -7px;
    opacity: 1;
  }
}