@import "@/components/app/vars.scss";

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: $sidebar-width;
  bottom: 0;
  left: 0;
  top: $header-height;
  background: #fff;
}

.active {
  position: relative;

  &::before {
    content: '';
    height: 100%;
    position: absolute;
    width: 3px;
    background: rosybrown;
    border-radius: 50px;
    left: -7px;
  }
}

.navlink {
  height: 30px;
  width: 30px;
}