@import "@/components/app/vars";
@import "@/components/app/index";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: $header-height;
  position: fixed;
  z-index: 999;
  background: #fff;
  border-radius: 0 0 10px 10px;
  top: 0;
  left: 20px;
  right: 20px;

  .logo {
    cursor: default;
    user-select: none;
    font-size: 30px;
    font-weight: 700;

    &:first-letter {
      color: $primary-color;
    }
    // color: $
  }

  //@include for-desktop-down() {
  //  position: fixed;
  //}
}

.user {
  cursor: pointer;
}