@import "@/components/app/vars";
@import "@/components/app/index";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: $header-height;
  position: fixed;
  background: #fff;
  border-radius: 0 0 10px 10px;
  top: 0;
  left: 10px;
  right: 10px;

  .logo {
    font-size: 30px;
    font-weight: 700;
    // color: $
  }

  //@include for-desktop-down() {
  //  position: fixed;
  //}
}

.user {
  cursor: pointer;
}