@import "@/components/app/vars";

.projects {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  cursor: pointer;
  
  &:hover {
    box-shadow: 0px 1px 27px -7px $primary-shadow-color;
    -webkit-box-shadow: 0px 1px 27px -7px $primary-shadow-color;
    -moz-box-shadow: 0px 1px 27px -7px $primary-shadow-color;
  }
}

.space {
  gap: 30px;
  align-items: start;
}

.description {
  word-wrap: break-word;
}