@import "@/components/app/index";

$first_row_height: 45vh;
$second_row_height: $first_row_height - 15vh;

.card {
  .title {
    opacity: 0.7;
    font-weight: 400;
  }

  .card_content {
    background: #fff;
    border-radius: 10px;
    height: 100%;
    overflow-y: auto;
  }
}

.cards {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 20px 30px 30px 30px;
  gap: 70px 30px;

  @include for-tablet-down() {
    padding: 20px 5px 30px 10px;
  }

  @include for-desktop-down() {
    //grid-template-rows: 1fr;
  }
}

.today_events {
  height: $first_row_height;
  grid-column: 1/5;

  @include for-desktop-down() {
    grid-column: 1/6;
  }

  @include for-tablet-down() {
    grid-column: 1/13;
  }
}

.calendar {
  height: $first_row_height;
  grid-column: 5/10;

  @include for-desktop-down() {
    grid-column: 6/13;
  }

  @include for-tablet-down() {
    grid-column: 1/13;
  }
}

.info {
  height: $first_row_height;
  grid-column: 10/13;

  @include for-desktop-down() {
    grid-column: 1/7;
  }

  @include for-tablet-down() {
    grid-column: 1/13;
  }
}

.notes {
  height: $second_row_height;
  grid-column: 1/5;

  @include for-desktop-down() {
    grid-column: 7/13;
    height: $first_row_height;
  }

  @include for-tablet-down() {
    grid-column: 1/13;
  }
}

.important_events {
  height: $second_row_height;
  grid-column: 5/9;

  @include for-desktop-down() {
    grid-column: 1/7;
  }

  @include for-tablet-down() {
    grid-column: 1/13;
  }
}

.upcoming_events {
  height: $second_row_height;
  grid-column: 9/13;

  @include for-desktop-down() {
    grid-column: 7/13;
  }

  @include for-tablet-down() {
    grid-column: 1/13;
  }
}