@import "@/components/app/index";

.card {
  .title {
    opacity: 0.7;
    font-weight: 400;
  }

  .card_content {
    background: #fff;
    border-radius: 10px;
    height: 100%;
    overflow-y: auto;
  }
}

.cards {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 4fr 3fr;
  padding: 30px 40px;
  gap: 70px 30px;
  padding-bottom: 100px;

  @include for-desktop-down() {
    //grid-template-rows: 1fr;
  }
}

.today_events {
  height: 47vh;
  grid-column: 1/5;

  @include for-desktop-down() {
    grid-column: 1/6;
  }
}

.calendar {
  height: 47vh;
  grid-column: 5/10;

  @include for-desktop-down() {
    grid-column: 6/13;
  }
}

.info {
  height: 47vh;
  grid-column: 10/13;

  @include for-desktop-down() {
    grid-column: 1/7;
  }
}

.notes {
  height: 27vh;
  grid-column: 1/5;

  @include for-desktop-down() {
    grid-column: 7/13;
    height: 47vh;
  }
}

.important_events {
  height: 27vh;
  grid-column: 5/9;

  @include for-desktop-down() {
    grid-column: 1/7;
  }
}

.upcoming_events {
  height: 27vh;
  grid-column: 9/13;

  @include for-desktop-down() {
    grid-column: 7/13;
  }
}